.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    overflow: y;
}

.search-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.sort-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.sort-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 300px;
    background-color: #f9f9f9;
}

.item input {
    margin-right: 10px;
}